
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Custom css-->
    <link rel="stylesheet" href="assets/css/style.css">

    <title>Inter CMS - Login</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <!-- Insert logo here -->
            </div>

            <div class="row mt-5">
                <!-- Login Card -->
                <div class="card col-8 mx-auto" id="loginCard">
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <label for="emailInput">Adresse e-mail Professionnel</label>
                                <input type="email" class="form-control" id="emailInput" name="emailInput" Required>
                            </div>
                            <div class="form-group">
                                <label for="passwordInput">Mot de passe</label>
                                <input type="password" class="form-control" id="passwordInput" name="passwordInput" Required>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="saveCheck">
                                <label class="form-check-label" for="saveCheck">Sauvegarder</label>
                            </div>
                            <div class="row">
                                <div class="col-auto mx-auto">
                                    <button type="submit" class="btn btn-primary">
                                        Se connecter
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>