<main>
    <h1 class="block pl-2">Statistiques</h1>

    <!-- Sell stat block -->
    <div class="card sellsStatBlock ">
        <div class="card-body">
            <h5 class="card-title">Statistiques Ventes</h5>
            <div clas="card-text">
                <div class="statsBlock">


                </div>

            </div>
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>

    <!-- Buy stat block -->
    <div class="card buyStatBlock mt-4">
        <div class="card-body">
            <h5 class="card-title">Statistiques Achat</h5>
            <div clas="card-text">
                <div class="statsBlock">


                </div>

            </div>
            <a href="#" class="card-link">Card link</a>
        </div>
    </div>

    <!-- Global stat block -->
    <div class="card globalStatBlock ">
        <div class="card-body">
            <h5 class="card-title">Statistiques Général</h5>
            <div clas="card-text">
                

            </div>
        </div>
    </div>


</main>