<main>
    <h1 class="block pl-2">Produits</h1>
    <!-- Options block -->
    <div class="card optionsBlock">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title pl-2">Tous (24)</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-danger dropdown-toggle ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtrer
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
                <form class="form-inline my-2 my-lg-0 searchBar">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div><br>



            <a href="#" class="btn btn-primary btn-sm btnSetting">Ajouter le produit</a>
            <a href="#" class="btn btn-primary btn-sm btnSetting">Modifier le produit</a>
            <a href="#" class="btn btn-primary btn-sm btnSetting">Supprimer le produit</a>
        </div>
    </div>

    <!-- Tableaux -->

</main>